<div class="card shadow-sm" @attributes=attr >
    @if(ImageUrl is not null)
    {
        <img src="@ImageUrl" class="card-img-top" />
    }
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        @ChildContent
    </div>
    <div class="card-footer">
        @Footer
    </div>
</div>
@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> attr { get; set; } = 
        System.Collections.Immutable.ImmutableDictionary<string, object>.Empty;

    [Parameter]
    public string? ImageUrl { get; set; } = null;

    [Parameter]
    public string? Title { get; set; } = null;

    [Parameter]
    public RenderFragment ChildContent { get; set; } =@<p>...</p>;

    [Parameter]
    public RenderFragment? Header { get; set; } = null;

    [Parameter]
    public RenderFragment? Footer { get; set; } = null;
}
