@page "/"

@inject DbContext db

<PageTitle>Index</PageTitle>

<section class="px-2 py-5 text-center container-fluid">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Ne l'achète pas, je l'ai !</h1>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach(var obj in db.Objets) {
            <div class="col">
                <div class="card shadow-sm">
                    <img src="img/obj-@(obj.IdObjet).jpg" class="card-img-top" />

                    <div class="card-body">
                        <h5 class="card-title">@obj.Nom</h5>
                        <p class="card-text">@obj.Description</p>
                        <!-- Ajouter les tags -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary">Réserver</button>
                                <button type="button" class="btn btn-sm btn-secondary">Voir dispo</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@code {
    // private string GetImageName(Objet o) => $"img/obj-{o.IdObjet}.jpg";
}