@page "/info"

@layout OngletsLayout

<h3>Info</h3>

<div class="col-2">
<PieChart Data='new (double, string, string)[]{ (40, "0,0,255,.2", "bleu"), (35, "0,255,0,.2", "vert"), (25, "255,0,0,.2", "rouge") }'/>
</div>

@code {

}
